.jumbotron {

    padding-top: 6rem;

    background-color:    #D3D3D3;
}

#projects {
    background-color:    #D3D3D3; 
}

#contact {
    background-color:    #D3D3D3; 
}

section {
    padding-top: 5rem;
}